$steller-vue-transitions-slide-distance-xs: 1px !default;
$steller-vue-transitions-slide-distance-sm: 2px !default;
$steller-vue-transitions-slide-distance-md: 4px !default;
$steller-vue-transitions-slide-distance-lg: 6px !default;
$steller-vue-transitions-slide-distance-xl: 10px !default;
