// StellerCSS variables this module depends on
$steller-speed-extra-slow: 500ms !default;
$steller-speed-slow: 400ms !default;
$steller-speed-normal: 300ms !default;
$steller-speed-fast: 200ms !default;
$steller-speed-extra-fast: 100ms !default;

@import '../index';

$steller-modules: ($steller-vue-transitions);

@import '../node_modules/steller-css/index';
